<ion-header >
  <ion-toolbar color="tertiary">
    <ion-button routerLink="/home" fill="clear" class="icon-bar">
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
      <ion-item class="item-trns">
          <ion-label
          position="floating">Nome</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item class="item-trns">
          <ion-label
          position="floating">E-mail</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item class="item-trns">
          <ion-label class="item-trns"
          position="floating">Telefone</ion-label>
          <ion-input class="item-trns"></ion-input> 
      </ion-item>
  </div>
</ion-content>
