<ion-header>
  <ion-toolbar color="tertiary">
      <ion-button routerLink="/lembrete" fill="clear" class="icon-bar">
        <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Seu Lembrete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
  		<ion-label position="floating">Nome do lembrete</ion-label>
  		<ion-input></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Data</ion-label>
		<ion-datetime display-format="M DD, YY HH:mm"></ion-datetime>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Descrição</ion-label>
		<ion-textarea clearOnEdit="true"></ion-textarea>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Ativo</ion-label>
		<ion-toggle style="position: absolute; right: 10px;
		top: 30%" class="toggle" [(ngModel)]="pepperoni"></ion-toggle>
	  </ion-item>
	  <ion-button shape="round"  expand="block"   color="tertiary" class="button-save">Salvar</ion-button>
</ion-content>
