<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Lembretes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
        <ion-fab vertical="bottom" color="tertiary"  horizontal="end" slot="fixed">
          <ion-fab-button routerLink="/lembrete" color="tertiary">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Aqui vem o horario</ion-card-subtitle>
            <ion-card-title color="tertiary">Aqui vem o titulo</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Aqui vem a descrição da notificação
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Aqui vem o horario</ion-card-subtitle>
            <ion-card-title color="tertiary">Aqui vem o titulo</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Aqui vem a descrição da notificação
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Aqui vem o horario</ion-card-subtitle>
            <ion-card-title color="tertiary">Aqui vem o titulo</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Aqui vem a descrição da notificação
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Aqui vem o horario</ion-card-subtitle>
            <ion-card-title color="tertiary">Aqui vem o titulo</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Aqui vem a descrição da notificação
          </ion-card-content>
        </ion-card>
        
        <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Aqui vem o horario</ion-card-subtitle>
          <ion-card-title color="tertiary">Aqui vem o titulo</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Aqui vem a descrição da notificação
        </ion-card-content>
      </ion-card>

      <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Aqui vem o horario</ion-card-subtitle>
        <ion-card-title color="tertiary">Aqui vem o titulo</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Aqui vem a descrição da notificação
      </ion-card-content>
    </ion-card>

</div>
</ion-content>
