<ion-header>
  <ion-toolbar color="tertiary">
      <ion-button routerLink="/home" fill="clear" class="icon-bar">
        <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title-sobre">TSMidia Visual</h1>
      <div class="box-left" color="tertiary" >
        <img class="img-sobre" src="../../assets/images/image.jpg">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ex consectetur facere saepe aut debitis suscipit sapiente quidem, mollitia, dolor pariatur ad vero alias culpa repellat in hic quis eligendi.
        </p>
      </div>
</ion-content>
